body {
   font-family: var(--ds-typo-font-family);
   font-size: var(--ds-typo-font-size-body);
   line-height: var(--ds-typo-font-line-height);
   color: var(--ds-typo-font-color);
   background: var(--ds-color-gray-100);
   margin: 0;
}

// h1, h2, ...
